jtype: Deployment
with:
  uses:
    jtype: TextExtractionExecutorMock
    metas:
      py_modules:
        - marie.executor.text
  replicas: 1
  name: ext_dep
  protocol: [grpc]

#  # monitoring
#  monitoring: true
#  port_monitoring: 57843

#  host: 0.0.0.0
#  port: [52000]

  #port: [52000, 51000]
