jtype: Flow
version: '1'
with:
  discovery: true
  discovery_host: 0.0.0.0
  discovery_port: 2379
  discovery_watchdog_interval: 2
  discovery_service_name: gateway/marie
  kv_store_kwargs:
    provider: postgresql
    hostname: 127.0.0.1
    port: 5432
    username: postgres
    password: '123456'
    database: postgres
    default_table: kv_store_worker
    max_pool_size: 5
    max_connections: 5
executors:
- name: executor0
  polling: "ANY"
  uses: TestExecutor
  port:
  - 56580
  port_monitoring: 54697
  kv_store_kwargs:
    provider: postgresql
    hostname: 127.0.0.1
    port: 5432
    username: postgres
    password: '123456'
    database: postgres
    default_table: kv_store_worker
    max_pool_size: 5
    max_connections: 5
gateway:
  discovery: true
  discovery_host: 0.0.0.0
  discovery_port: 2379
  discovery_watchdog_interval: 2
  discovery_service_name: gateway/marie
  kv_store_kwargs:
    provider: postgresql
    hostname: 127.0.0.1
    port: 5432
    username: postgres
    password: '123456'
    database: postgres
    default_table: kv_store_worker
    max_pool_size: 5
    max_connections: 5
  port:
  - 58647
  port_monitoring:
  - 58117
