_BASE_: "./Base-RCNN-FPN.yaml"
MODEL:
  PIXEL_MEAN: [ 127.5, 127.5, 127.5 ]
  PIXEL_STD: [ 127.5, 127.5, 127.5 ]
  # Path relative to model zoo root directory (default __model_path__)
#  WEIGHTS: "unilm/dit/text_detection/model_0038999-V3-BEST/model_0038999.pth"
#  WEIGHTS: "unilm/dit/text_detection/tuned-2500-LARGE-v5/model_0053999.pth" # GOOD
  WEIGHTS: "unilm/dit/text_detection/pp-tuned-02/184-model_0002999.pth" #  0.9_hmean=0.9651934265591507
#  WEIGHTS: "unilm/dit/text_detection/td-syn_dit-l_mrcnn.pth"
  VIT:
    NAME: "dit_large_patch16"
    OUT_FEATURES: [ "layer7", "layer11", "layer15", "layer23" ]
    DROP_PATH: 0.2
  FPN:
    IN_FEATURES: [ "layer7", "layer11", "layer15", "layer23" ]
  ANCHOR_GENERATOR:
    SIZES: [[4], [8], [16], [32], [64]]
    ASPECT_RATIOS: [[1.5, 3.5, 6.5]]
SOLVER:
  WARMUP_ITERS: 1000
  IMS_PER_BATCH: 8
  MAX_ITER: 60000
  CHECKPOINT_PERIOD: 1000
  BASE_LR: 0.00005
  AMP:
    ENABLED: True
TEST:
  EVAL_PERIOD: 1000
  DETECTIONS_PER_IMAGE: 2500
OUTPUT_DIR: $AMLT_OUTPUT_DIR
