src/venv
venv
notebooks/.ipynb_checkpoints/
result/
models/
share/
log_eval_result.txt
.build

*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.coverage
.tox
nosetests.xml
*.mo
*.json
old/
tmp/
*.log
*.trace
.idea/
logs/*
env/
output/
