# Install the pre-commit hooks below with
# 'pre-commit install'

# Auto-update the version of the hooks with
# 'pre-commit autoupdate'

# Run the hooks on all files with
# 'pre-commit run --all'

repos:
  - repo: https://github.com/pycqa/flake8
    rev: "5.0.4"
    hooks:
    -   id: flake8
        exclude: ^(.git|__pycache__|hubble/resources/|marie/storage|marie/core|tests|marie/models|marie/utils/patches.py|marie/boxes/dit|marie/models/unilm|.git|__pycache__|old|build|dist|tests|marie/resources/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
        args:
          - --max-complexity=10
          - --max-line-length=127
          - --select=E9,F63,F7,F82
  # - repo: https://github.com/terrencepreilly/darglint
  #   rev: v1.5.8
  #   hooks:
  #   - id: darglint
  #     files: marie/
  #     exclude: ^(marie/models|marie/helloworld/|marie/proto/pb/jina_pb2.py|marie/proto/pb/jina_pb2_grpc.py|marie/proto/pb2/jina_pb2.py|marie/proto/pb2/jina_pb2_grpc.py|docs/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
  #     args:
  #     - --message-template={path}:{line} {msg_id} {msg}
  #     - -s=sphinx
  #     - -z=full
  #     - -v=2
  # - repo: https://github.com/pycqa/pydocstyle
  #   rev: 5.1.1  # pick a git hash / tag to point to
  #   hooks:
  #   -   id: pydocstyle
  #       files: marie/
  #       exclude: ^(marie/models|marie/helloworld/|marie/proto/pb/jina_pb2.py|marie/proto/pb/jina_pb2_grpc.py|marie/proto/pb2/jina_pb2.py|marie/proto/pb2/jina_pb2_grpc.py|docs/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
  #       args:
  #       - --select=D101,D102,D103
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      types: [python]
      exclude: ^(hubble/resources/|tests|marie/storage|marie/core|marie/models|marie/boxes/dit|marie/resources/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
      args:
        - -S

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        exclude: ^(marie/storage|marie/core|marie/models|marie/boxes/dit|marie/helloworld/|marie/proto/pb/jina_pb2.py|marie/proto/pb/jina_pb2_grpc.py|marie/proto/pb2/jina_pb2.py|marie/proto/pb2/jina_pb2_grpc.py|docs/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
        args:
          - -S
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        exclude: ^(marie/storage|marie/core|marie/models|marie/boxes/dit|marie/helloworld/|marie/proto/pb/jina_pb2.py|marie/proto/pb/jina_pb2_grpc.py|marie/proto/pb2/jina_pb2.py|marie/proto/pb2/jina_pb2_grpc.py|docs/|marie/resources/|marie/proto/docarray_v1|marie/proto/docarray_v2)
        args: ["--profile", "black"]


