# MARIE PACKAGE DEPENDENCIES
# AVAILABLE TAGS:
# core < perf < standard < devel: these tags correspond to Docker image tag

prometheus_client:          perf
psutil:                     test
uvloop:                     perf,standard,devel

opentelemetry-instrumentation-grpc: perf,standard,devel
prometheus_client>=0.12.0:          perf,standard,devel
opentelemetry-sdk>=1.12.0:   perf,standard,devel
opentelemetry-exporter-otlp>=1.12.0:  perf,standard,devel
opentelemetry-exporter-prometheus>=1.12.0rc1:  perf,standard,devel
opentelemetry-semantic-conventions>=0.33b0:    perf,standard,devel
opentelemetry-instrumentation-aiohttp-client>=0.33b0:    perf,standard,devel
opentelemetry-instrumentation-fastapi>=0.33b0: perf,standard,devel
opentelemetry-exporter-otlp-proto-grpc>=1.13.0: perf,standrad,devel