pipeline:
  name: 'default'
  page_classifier:
    - model_name_or_path: 'marie/lmv3-medical-document-classification'
      type: 'transformers'
      device: 'cuda'
      enabled: True
      name: 'medical_page_classifier'
    - model_name_or_path: 'marie/lmv3-medical-document-payer'
      type: 'transformers'
      enabled: True
      device: 'cuda'
      name: 'medical_payer_classifier'
  page_indexer:
    - model_name_or_path: 'rms/layoutlmv3-large-patpay-ner'
      enabled: True
      type: 'transformers'
      device: 'cuda'
      name: 'page_indexer_patient'
      filter:
        type: 'regex'
        pattern: '.*'
  page_splitter:
    model_name_or_path: 'marie/layoutlmv3-medical-document-splitter'
    enabled: True