---
- name: Marie-AI cluster
  hosts: ml.cluster
  become_user: gpu-svc
  
  tasks:
  - name: User Info
    shell: whoami
    register: out
  - debug: var=out.stdout_lines

  - name: Container status
    script: info-container-status.sh marie-ai
    register: out
    failed_when: > 
      'FAILED' in out.stdout or
      'Permission denied' in out.stdout
  - debug: var=out.stdout_lines
