Extract the following key-value from the text. Each key-value should be returned in the format: "key SEPARATOR value >>>". Ensure the key and value appear exactly as they are in the text. If the value is missing, leave it empty.
Ensure format is as follows: `key SEPARATOR value >>>`.
Only provide information explicitly mentioned in the text; do not assume or infer anything that is not directly stated.
'SEPARATOR' is a constant string that should be used to separate the key and value in the output.

Text:
{{ text }}

Output:
key SEPARATOR value >>>
